<ul id="navist">
  <li id="home"><a href="default.asp"></a></li> 
  <li id="prev"><a href="css_intro.asp"></a></li> 
  <li id="next"><a href="css_syntax.asp"></a></li> 
</ul> 
#navist{
  position: relative;
}

#navlist li{
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
}

#navlist li, #navlist a{
  height: 44px;
  display: block;
}

#home{
  left: 0px;
  width: 46px;
  background: url('img_navsprites.gif') 0 0;
}

#prev{
  left: 63px;
  width: 43px;
  background: url('img_navsprites.gif') -47px 0;
}

#next{
  left: 129px;
  width: 43px;
  background: url('img_navsprites.gif') -91px 0;
}

*{
  box-sizing: border-box;
}
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #9ED9CCFF;
  border-radius: 4px;
  resize: vertical;
}
label{
  padding: 12px 12px 12px 0;
  diplay: inline-block;
}
input[type=submit]{
  background-color: #008C76FF;
  color:black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
input[type=submit]:hover{
  background-color:#9ED9CCFF;
}
.container{
  border-radius: 5px;
  background-color: #008C76FF;
  padding: 20px;
}
.col-25{
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75{
  float: left;
  width: 75%;
  margin-top:6px;
}
/* Clear floats after column */
.row:after{
  content: "";
  display: table;
  clear: both;
}
body{
  background-color:#9ED9CCFF;
  color:black;
}
/* this styles the banner header*/ 
.header{
  background-color:#9ED9CCFF;
  padding:20px;
  text-align:center;
  color:#008C76FF;
}